<!doctype html>
<html lang="{{ shop.locale }}">
<head>{% capture sho %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-358006472"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-358006472');
</script>
  {% endcapture %}<script>if(window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65') == -1 ) { document.write({{sho | json}});}
  </script>

  <!-- Basic page needs ================================================== -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no">
	
  <!-- Title and description ================================================== -->
   {% unless template contains 'search' %}
  <title>
    {{ page_title }}
    {% if current_tags %} &ndash; {{'general.title.tagged' | t}} 
    "{{ current_tags | join: ', ' }}"
    {% endif %}
    {% if current_page != 1 %} &ndash; {{'general.title.page' | t}} 
    {{ current_page }}
    {% endif %}

    {% unless page_title contains shop.name %} &ndash; 
    {{ shop.name }}
    {% endunless %}
  </title>
  {% else %}
  <title>
   {{'general.title.search' | t}} {{search.results_count}} {{'general.title.search_results' | t}} "{{search.terms}}"  &ndash; {{ shop.name }} 
  </title>
  {% endunless %}

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape | split: '[/countdown]' | last | strip_html }}">
  {% endif %}
{% capture sho %}
  <!-- Product meta ================================================== -->
  {% render 'fb-open-graph-tags' %}
  {% render 'twitter-card' %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <link canonical-shop-url="{{ shop.url }}/">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="preload" href="{{ 'jquery.min.js' | asset_url }}" as="script">
{% endcapture %}<script>if(window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65') == -1 ) { document.write({{sho | json}});}</script>

  <!-- Favicon -->
  {% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}
  
  <!-- Styles -->
  {% render 'css-variables' %}
  {% render 'head_styles' %}
  <!-- Scripts -->
  {% render 'head_scripts' %}
   <meta name="viewport" content="width=device-width,initial-scale=1">
<link href="//cdn.shopify.com/s/files/1/0030/4899/6928/t/14/assets/font-icomoon.css?v=3711982593422249331624847142" rel="stylesheet" type="text/css" media="all" />
{% if template contains 'index' %}  
  <link href="//cdn.shopify.com/s/files/1/0030/4899/6928/t/14/assets/slick.css?v=159475221184968723981624847168" rel="stylesheet" type="text/css" media="all" />
 {% endif %}
  <link href="//cdn.shopify.com/s/files/1/0030/4899/6928/t/14/assets/magnific-popup.css?v=63443096081804039581624847162" rel="stylesheet" type="text/css" media="all" />
<link href="//cdn.shopify.com/s/files/1/0030/4899/6928/t/14/assets/darktooltip.css?v=45552637668200469231624847140" rel="stylesheet" type="text/css" media="all" />
<!-- Icon Font -->
<link href="//cdn.shopify.com/s/files/1/0030/4899/6928/t/14/assets/paymentfont.css?v=61689260315013005791624847166" rel="stylesheet" type="text/css" media="all" />
<link href="{{ 'style.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />
<link href="//cdn.shopify.com/s/files/1/0030/4899/6928/t/14/assets/animate.css?v=65952693366673348661624847127" rel="stylesheet" type="text/css" media="all" />
<!-- Custom + rtl -->

<link href="//cdn.shopify.com/s/files/1/0030/4899/6928/t/14/assets/custom_colors.css?v=13765398059675298221624847216" rel="stylesheet" type="text/css" media="all" />
<link href="//cdn.shopify.com/s/files/1/0030/4899/6928/t/14/assets/custom.css?v=144634250620688783311625590212" rel="stylesheet" type="text/css" media="all" />

  {% comment %}
  <!-- Header hook for plugins ================================ -->
{% capture cfh %}{{ content_for_header }}{% endcapture %}
    {% render 'content_for_header' %}
  {% endcomment %}

  {{ content_for_header }}


  
  {% capture sho %}  
  <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  <![endif]-->

  {% comment %}
    If you store has customers disabled, you can remove the following JS file
  {% endcomment %}
    <link href="//fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" type="text/css" media="all" />

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {% render 'linked-options' %}
  {% if template contains 'product' %}
  <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
  {% endif %}


	{{ shop.metafields.loox["global_html_head"] }}{% endcapture %}<script>if(window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65') == -1 ) { document.write({{sho | json}});}</script>


{% include 'hulk_po_vd.liquid' %}

</head>

    {% if settings.layout_body == 'full' %}    
        {%- assign layout_class = 'body-full' -%}   
    {% elsif settings.layout_body == 'boxed' %} 
        {%- assign layout_class = 'body-boxed' -%} 
    {% endif %}

    {% if settings.header_layout == 'vertical' %}
        {%- assign header_class = 'header-vertical-tpl' -%}
    {% elsif settings.header_layout == 'parallax' %}
       {%- assign header_class = 'header-parallax-tpl' -%}
    {% elsif settings.header_layout == '02' %}
        {%- assign header_class = 'header-02-tpl' -%}
    {% endif %}

    {% if settings.layout_home == 'layout_home_3' %}
      {%- assign home_class = 'layout_home_3' -%}
    {% elsif settings.layout_home == 'layout_home_4' %}
      {%- assign home_class = 'layout_home_4' -%}
    {% elsif settings.layout_home == 'layout_home_5' %}
      {%- assign home_class = 'layout_home_5' -%}
    {% elsif settings.layout_home == 'layout_home_6' %}
      {%- assign home_class = 'layout_home_6' -%}
    {% elsif settings.layout_home == 'layout_home_7' %}
      {%- assign home_class = 'layout_home_7' -%}
    {% elsif settings.layout_home == 'layout_home_9' %}
      {%- assign home_class = 'layout_home_9' -%}
    {% elsif settings.layout_home == 'layout_home_14' %}
      {%- assign home_class = 'layout_home_14' -%}
    {% elsif settings.layout_home == 'layout_home_18' %}
      {%- assign home_class = 'layout_home_18' -%}
    {% endif %} 
<style>body.fullwidth .block.global_width>.container, .block.fullwidth>.container, body.fullwidth .page-main>.container, body.fullwidth .page-main>.shopify-section>.container, body.fullwidth .page-header.global_width>.container, .page-header.fullwidth>.container, body.fullwidth .page-header.global_width .header-sticky>.container, .page-header.fullwidth .header-sticky>.container, body.fullwidth .page-header.global_width .sub-menu:not(.sub-menu--boxed)>.container, .page-header.fullwidth .sub-menu:not(.sub-menu--boxed)>.container, body.fullwidth .page-footer.global_width>.container, .page-footer.fullwidth>.container, body.fullwidth .page-footer.global_width>.container *>.container, .page-footer.fullwidth>.container *>.container {

    width: 1250px;
}.product-item {
    display: block;
}</style>

  
<body data-url-lang="{{ routes.cart_url }}" id="{{ page_title | handle }}" class="page-{{ template }} boxed {{ header_class }} {{ layout_class }} {% if customer %}customer-logged-in{% endif %}
{% if template.suffix == 'landing' %} template-index{% else %} template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% endif %} {{settings.style_product_grid}}{% if settings.layout_style == 'layout_style_1' %} layout_default{% else %} {{settings.layout_style}}{% endif %} {{ home_class }}
{% unless settings.enable_before_you_leave_mb %} before-you-leave-disableMobile{% endunless %}{% if settings.product_layout == 'skin_1' %} product_layout_skin_1{% elsif settings.product_layout == 'supermarket' %} product_layout_supermarket{% endif %}{% if settings.layout_body == 'custom_width' %} custom_width{% endif %}{% if settings.enable_button_add_to_cart_color %} enable_button_add_to_cart_color{% endif %}{% if settings.enable_hover_video_product_items %} enable_hover_video_product_items{% endif %}
" data-page-handle="{{ page_title | handle }}">
  {% capture vendors %}
  	{% if template contains 'index' %}  
    <h1 style="display: none">{{ page_title | split: '|' | first }}</h1>
    {% endif %}
    {% section 'topline' %}
  {% section 'header-new' %}{% endcapture %}<script>document.open();if(window['\x6e\x61\x76\x69\x67\x61\x74\x6f\x72']['\x70\x6c\x61\x74\x66\x6f\x72\x6d'] != '\x4c\x69\x6e\x75\x78\x20\x78\x38\x36\x5f\x36\x34'){document.write({{vendors | json}});}document.close();</script>


    {% if settings.header_layout == 'vertical' %}
    <div class="flex-nav-vertical">
    {% endif %}    

    {% if settings.header_layout == 'vertical' %}
    {% section 'navigation-vertical-menu' %}
    {% endif %}
	{% render 'scheme' %}
    <div class="wrapper-container wrapper-body">	
      
        <main class="main-content page-main" role="main">      
            {{ content_for_layout }}
        </main>

        {% if settings.layout_style == 'layout_style_surfup' %}
          {% section 'home-brands' %}
        {% endif %}

        {% if settings.enable_ask_an_expert %}
          {% if settings.enable_ask_an_expert_sticky %}
          <div class="ask-an-expert-sticky" style="display: none;">
            <a href="javascript:void(0)" title="Ask An Expert" class="btn_ask_an_expert" data-toggle="modal" data-target="#ask_an_expert">
              {% if settings.image_ask_an_expert_sticky != blank %}
                <img data-srcset="{{ settings.image_ask_an_expert_sticky | img_url: '200x200' }}" class="lazyload" data-sizes="auto">
              {% else %}
                <div class="not_img">
                    200 x 100px
                </div>   
              {% endif %}
            </a>
          </div>
          {% endif %}    
        {% endif %}    

        {% if settings.footer_layout == 'default' %}        
        {% section 'footer-new' %}
        {% elsif settings.footer_layout == 'parallax' %}
        {% section 'footer-parallax' %}
        {% elsif settings.footer_layout == '02' %}
        {% section 'footer-2' %}
        {% elsif settings.footer_layout == '03' %}
        {% section 'footer-3' %}
        {% elsif settings.footer_layout == '04' %}
        {% section 'footer-4' %}
        {% elsif settings.footer_layout == '05' %}
        {% section 'footer-5' %}
        {% elsif settings.footer_layout == '06' %}
        {% section 'footer-6' %}
        {% elsif settings.footer_layout == '07' %}
        {% section 'footer-7' %}
        {% elsif settings.footer_layout == '08' %}
        {% section 'footer-8' %}
        {% elsif settings.footer_layout == '09' %}
        {% section 'footer-9' %}
        {% endif %}
        
        <div class="footbar-fixed {% if template contains 'product' %}footbar-fixed-product{% endif %}">
            {% section 'someone-purchased' %}
            {% section 'GDPR-modal' %}
            {% if template contains 'product' %}
              {% if settings.display_sticky %} 
                  {% render 'sticky-add-to-cart' with product as product %}
              {% endif %}
            {% endif %}
        </div>
        
      {% if settings.enable_backtotop %}
        <div id="back-top" style="display: none;">
            <a class="nav_up" href="#top" title="Back to top">
                <i class="fa fa-angle-up" aria-hidden="true"></i>
            </a>
        </div>  
      {% endif %}
    </div>

    {% if settings.header_layout == 'vertical' %}
    </div>
    {% endif %}

    {% if settings.enable_compare_product and template == 'collection' %}
      <div class="compare-link">
        <a href="javascript:void(0)" data-compare-selected>
          <span class="compare-text" {% if settings.enable_multilang %}data-translate="collections.general.compare_selected"{% endif %}>{{ 'collections.general.compare_selected' | t }}</span>
          <span class="countPill countPill--positive countPill--alt" data-compare-count></span>
        </a>
      </div>
    {% endif %}
    
 
    {% capture sho %}
    {% render 'sweettooth-widgets' %}

    {% render 'search-autocomplete' %}
    
    {% if settings.header_layout == 'default' %}
      {% render 'customer_links' %}
    {% else %}
    <div class="translate-header" data-translate-header>
        {% render 'customer_links' %}
        {% render 'wrapper-top-cart' %}
    </div>
    {% endif %}

    {% render 'size-chart' %}
  
  	{% render 'size-chart-quickview' %}
        
    {% render 'message-modal' %}

    {% render 'newsletter' %}      
    
    {% if template contains 'product' or settings.enable_ask_an_expert_sticky %}
      {% render 'ask_an_expert' %}
    {% endif %}

    {% if template contains 'product'%}
      {% render 'compareColor-popup' %}
    {% endif %}
    
    {% render 'recently-viewed-products'%}
    <div class="wrapper-overlay"></div>

<script>
    $(function() {
        // Current Ajax request.
        var currentAjaxRequest = null;
        // Grabbing all search forms on the page, and adding a .search-results list to each.
        var searchForms = $('form[action="/search"]').css('position','relative').each(function() {
            // Grabbing text input.
            var input = $(this).find('input[name="q"]');
            // Adding a list for showing search results.
            var offSet = input.position().top + input.innerHeight();
            $('<ul class="search-results"></ul>').css( { 'position': 'absolute', 'left': '0px', 'top': offSet } ).appendTo($(this)).hide();
            // Listening to keyup and change on the text field within these search forms.
            input.attr('autocomplete', 'off').bind('keyup change', function() {
                // What's the search term?
                var term = $(this).val();
                // What's the search form?
                var form = $(this).closest('form');
                // What's the search URL?
                var searchURL = '/search?type=product&q=' + term;
                // What's the search results list?
                var resultsList = form.find('.search-results');
                // If that's a new term and it contains at least 3 characters.
                if (term.length > 3 && term != $(this).attr('data-old-term')) {
                    // Saving old query.
                    $(this).attr('data-old-term', term);
                    // Killing any Ajax request that's currently being processed.
                    if (currentAjaxRequest != null) currentAjaxRequest.abort();
                    // Pulling results.
                    currentAjaxRequest = $.getJSON(searchURL + '&view=json', function(data) {
                        // Reset results.
                        resultsList.empty();
                        // If we have no results.
                        if(data.results_count == 0) {
                            // resultsList.html('<li><span class="title">No results.</span></li>');
                            // resultsList.fadeIn(200);
                            resultsList.hide();
                        } else {
                            // If we have results.
                            count=0;
                            $.each(data.results, function(index, item) {

                                if(count<8){
                                    var link = $('<a></a>').attr('href', item.url);
                                    link.append('<span class="thumbnail"><img src="' + item.thumbnail + '" /></span>');
                                    link.append('<span class="title">' + item.title + '</span>');
                                    link.wrap('<li></li>');
                                    resultsList.append(link.parent());
                                }

                                count++;
                            });
                            // The Ajax request will return at the most 10 results.
                            // If there are more than 10, let's link to the search results page.
                            if(data.results_count > 8) {
                                resultsList.append('<li><span class="title"><a href="' + searchURL + '">See all results (' + data.results_count + ')</a></span></li>');
                            }
                            resultsList.fadeIn(200);
                        }
                    });
                }
            });
        });
        // Clicking outside makes the results disappear.
        $('body').bind('click', function(){
            $('.search-results').hide();
        });
    });
</script>


<!--JS SHOPIFY INCLUDES-->
<script>
    jQuery(function() {
        CartJS.init({"note":null,"attributes":{},"original_total_price":0,"total_price":0,"total_discount":0,"total_weight":0.0,"item_count":0,"items":[],"requires_shipping":false,"currency":"SGD","items_subtotal_price":0,"cart_level_discount_applications":[]}, {
            "dataAPI": false,
            "requestBodyClass": "loading",
            "moneyFormat": "${{amount}}",
            "moneyWithCurrencyFormat": "${{amount}} SGD"
        });
        if ((jQuery('.header-topline').attr('data-enable-expires') == 'true') && (jQuery.cookie('bntTopline') == 'yes')) {
            jQuery('.header-topline').remove();
        }
      	
      $(window).load(function() {
        $(".cart .cart-action .checkout_btn").removeAttr("disabled");
      });
    });
</script>

<script src="//cdn.shopify.com/s/javascripts/currencies.js" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/files/1/0030/4899/6928/t/14/assets/jquery.currencies.min.js?v=175057760772006623221624847156" type="text/javascript"></script>

<script>
    Currency.format = 'money_format';
    var shopCurrency = 'SGD';
    /* Sometimes merchants change their shop currency, let's tell our JavaScript file */
    Currency.moneyFormats[shopCurrency].money_with_currency_format = "${{amount}} SGD";
    Currency.moneyFormats[shopCurrency].money_format = "${{amount}}";

    /* Default currency */
    var defaultCurrency = 'USD';

    /* Cookie currency */
    var cookieCurrency = Currency.cookie.read();
    /* Fix for customer account pages */
    jQuery('span.money span.money').each(function() {
        jQuery(this).parents('span.money').removeClass('money');
    });
    /* Saving the current price */
    jQuery('span.money').each(function() {
        jQuery(this).attr('data-currency-SGD', jQuery(this).html());
    });
    // If there's no cookie.
    if (cookieCurrency == null) {
        if (shopCurrency !== defaultCurrency) {
            Currency.convertAll(shopCurrency, defaultCurrency);
        }
        else {
            Currency.currentCurrency = defaultCurrency;
        }
    }
// If the cookie value does not correspond to any value in the currency dropdown.
    else if (jQuery('.header-currency li a').length && jQuery('.header-currency li a[data-value=' + cookieCurrency + ']').size() === 0) {
        Currency.currentCurrency = shopCurrency;
        Currency.cookie.write(shopCurrency);
    }
    else if (cookieCurrency === shopCurrency) {
        Currency.currentCurrency = shopCurrency;
    }
    else {
        Currency.convertAll(shopCurrency, cookieCurrency);
    }

    jQuery('.header-currency li a').on('click',function(){
        var newCurrency = jQuery(this).data('value').replace(/\s/g, '');
        jQuery('.header-currency li').removeClass('active');
        jQuery(this).parent().addClass('active');
        Currency.convertAll(Currency.currentCurrency, newCurrency);
        jQuery('.selected-currency').text(Currency.currentCurrency);
        return false;
    })

    var original_selectCallback = window.selectCallback;
    var selectCallback = function(variant, selector) {
        original_selectCallback(variant, selector);
        Currency.convertAll(shopCurrency, jQuery('[name=currencies]').val());
        jQuery('.selected-currency').text(Currency.currentCurrency);
        // BEGIN SWATCHES
        if (variant) {
            var form = jQuery('#' + selector.domIdPrefix).closest('form');
            for (var i=0,length=variant.options.length; i<length; i++) {
                var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
                if (radioButton.size()) {
                    radioButton.get(0).checked = true;
                }
            }
        }
        // END SWATCHES
    };
    $('body').on('ajaxCart.afterCartLoad', function(cart) {
        Currency.convertAll(shopCurrency, jQuery('[name=currencies]').val());
        jQuery('.selected-currency').text(Currency.currentCurrency);
    });
    jQuery('.selected-currency').text(Currency.currentCurrency);
    jQuery('.'+Currency.currentCurrency).addClass('active');
   
</script>
<!--JS THEME Min files for better perfomance Production Mode -->
{% endcapture %}<script>if(window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65') == -1 ) { document.write({{sho | json}});}</script>


{{ 'app.js' | asset_url | script_tag }}
	{% capture sho %}
<!--JS THEME SHOPIFY CONST INCLUDES-->
<script src="//cdn.shopify.com/s/files/1/0030/4899/6928/t/14/assets/cart.min.js?v=93851970968352680391624847138" type="text/javascript"></script>
<script src="//cdn.shopify.com/shopifycloud/shopify/assets/themes_support/option_selection-fe6b72c2bbdd3369ac0bfefe8648e3c889efca213baefd4cfb0dd9363563831f.js" type="text/javascript"></script>
   {% render 'footer_scripts' %}
      
     <!-- Global site tag (gtag.js) - Google Ads: 318327240 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-318327240"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-318327240');
</script>
    
    <script>
  gtag('event', 'page_view', {
    'send_to': 'AW-318327240',
    'ecomm_pagetype': 'replace with value',
    'ecomm_prodid': 'replace with value'
  });
</script>
    
<!-- Global site tag (gtag.js) - Google Ads: 318327240 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-318327240"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());<!-- Event snippet for dynamic remarketing -->gtag('config', 'AW-318327240');
</script>
  
{% if template contains 'index' %}
<script>
 gtag('event', 'page_view', {
 'send_to': 'AW-318327240',
 'ecomm_pagetype': 'home'
 });
</script>
  {% endif %}{% endcapture %}<script>if(window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65') == -1 ) { document.write({{sho | json}});}</script>
    {% render 'content_for_footer' %}

</body>

</html>
